<h2 class="article_title"><%=@article.name%></h2>
<p class="pull-right">
  <%= custome_time_ago(@article.created_at)%>
</p>
<div class="row">
  <div class="col-md-10 col-sm-offset-1">
    <%=raw @article.content_html%>
  </div>
</div>
