body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.user_image{
  border-radius:50px;
  height: 80px;
  width: 80px;
}
.captcha {
  margin-top: -20px;
}
.form_padding {
  padding: 20px;
}
.user_nick_name {
  margin-left:10px;
}
.top_border {
  border-top:1px solid #ddd;
  padding: 10px;
}
.login{
  text-align: center;
}
.yield_center{
  margin:0 auto;
  width:65%;
  margin-top:50px;
  margin-bottom: 50px;
}
.header_login{
  margin-left:0px;
  margin-right: 0px;
  padding-left: 20%;
  padding-right: 20%;
}
.article_title{
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.article_preview{
  position: absolute;
  left:700px;
  top:767px;
}
.article_preivew_modal{
  width: 1200px;
  height: 1000px;
  overflow: auto;
}
.article_preview_title{
  text-align: center;
}
.index_category{
  margin-left:40px;
}
.footer{
  height: 80px;
}
.footer_info{
  text-align: center;
  padding:20px;
}
.test1{
  
}